<div class="container mt-4">
<div class="row">
<div class="col">
<% if(!dataSama) { %>
<div class="alert alert-danger" role="alert">
  Data siswa tidak ditemukan <a href="/contact" class="alert-link">kembali ke halaman contact</a>
</div>
<% } else { %>
<div class="d-flex justify-content-center">
<div class="card" style="width: 200px">
  <div class="card-body">
    <h5 class="card-title"><%= dataSama.nama %></h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Kelas <%= dataSama.kelas %></h6>
    <a href="/contact/edit/<%= dataSama.nama %>" class="btn btn-info badge">Ubah</a>
    <form method="POST" action="/contact?_method=DELETE" class="d-inline">
      <input type="hidden" name="nama" value="<%= dataSama.nama %>">
      <button type="submit" class="btn btn-danger badge">Hapus</button>
    </form>
    <a href="/contact" class="card-link d-block mt-2">Kembali ke halaman contact</a>
  </div>
</div>
</div>
<% } %>
</div>
</div>
</div>
