<div class="container mt-4">
  <div class="row">
    <div class="col text-center">
      <img src="https://tse1.mm.bing.net/th?id=OIP.lHn3Hu6ppkYad1_tKNsswQHaHa&pid=Api&H=160&W=160" class="img-thumbnail rounded-circle" width="200px" height="200px">
      <h1 class="display-4">Hariyanto saputra</h1>
      <p class="lead">Student | Junior Web Developer</p>
    </div>
  </div>
</div>
